asgiref==3.8.1
automium==0.2.6
automium_web==0.1.1
beautifulsoup4==4.12.3
blinker==1.8.2
click==8.1.7
Django==5.1
django-bootstrap4==24.3
Faker==26.2.0
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
legacy==0.1.7
MarkupSafe==2.1.5
mysqlclient==2.2.4
python-dateutil==2.9.0.post0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
Werkzeug==3.0.3
